In [87]:
import pandas as pd
import numpy as np

In [88]:
df = pd.read_csv("J:/Data science/data/NLP/E_mail messages.csv")

In [89]:
df.head()

  label                                          body_text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [90]:
df.shape

(5572, 2)

In [91]:
df.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

text preprocessing

In [92]:
import string
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [93]:
stop_words_list = nltk.corpus.stopwords.words("english")

In [94]:
porter = nltk.PorterStemmer()

In [95]:
lemma_nltk = WordNetLemmatizer()

In [96]:
def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = word_tokenize(text)
    text = " ".join([lemma_nltk.lemmatize(word) for word in tokens if word not in stop_words_list])
    return text

In [97]:
df['cleaned_text'] = df['body_text'].apply(lambda x:clean_text(x))

In [98]:
df.head(15)

,label,body_text,cleaned_text
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah dont think go usf life around though
5,spam,FreeMsg Hey there darling it's been 3 week's n...,freemsg hey darling 3 week word back id like f...
6,ham,Even my brother is not like to speak with me. ...,even brother like speak treat like aid patent
7,ham,As per your request 'Melle Melle (Oru Minnamin...,per request melle melle oru minnaminunginte nu...
8,spam,WINNER!! As a valued network customer you have...,winner valued network customer selected receiv...
9,spam,Had your mobile 11 months or more? U R entitle...,mobile 11 month u r entitled update latest col...
10,ham,I'm gonna be home soon and i don't want to tal...,im gon na home soon dont want talk stuff anymo...
11,spam,"SIX chances to win CASH! From 100 to 20,000 po...",six chance win cash 100 20000 pound txt csh11 ...
12,spam,URGENT! You have won a 1 week FREE membership ...,urgent 1 week free membership å£100000 prize j...
13,ham,I've been searching for the right words to tha...,ive searching right word thank breather promis...
14,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,date sunday

In [99]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer

In [100]:
bow_vec = CountVectorizer()
bow_matrix = bow_vec.fit_transform(df['cleaned_text'])

In [101]:
print("sparse matrix..\n" ,bow_matrix)

sparse matrix..
   (0, 3588)	1
  (0, 4431)	1
  (0, 6036)	1
  (0, 2387)	1
  (0, 1377)	1
  (0, 1813)	1
  (0, 3677)	1
  (0, 8577)	1
  (0, 4580)	1
  (0, 1811)	1
  (0, 2123)	1
  (0, 3640)	1
  (0, 1153)	1
  (0, 8358)	1
  (1, 5632)	1
  (1, 4616)	1
  (1, 4401)	1
  (1, 8482)	1
  (1, 5663)	1
  (2, 3394)	1
  (2, 3006)	2
  (2, 8533)	1
  (2, 2231)	1
  (2, 8495)	1
  (2, 3137)	2
  :	:
  (5567, 5529)	1
  (5568, 3958)	1
  (5568, 3604)	1
  (5568, 3381)	1
  (5568, 3033)	1
  (5569, 5229)	1
  (5569, 7465)	1
  (5569, 5965)	1
  (5569, 7122)	1
  (5570, 3394)	1
  (5570, 8403)	1
  (5570, 4100)	1
  (5570, 4715)	1
  (5570, 5422)	1
  (5570, 7146)	1
  (5570, 2952)	1
  (5570, 3505)	1
  (5570, 1845)	1
  (5570, 3734)	1
  (5570, 4231)	1
  (5570, 981)	1
  (5570, 1611)	1
  (5571, 5339)	1
  (5571, 7974)	1
  (5571, 6613)	1

In [102]:
arrat_mat = bow_matrix.toarray()
arrat_mat

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [103]:
dataf = pd.DataFrame(arrat_mat)
dataf.head()

,0,1,2,3,4,5,6,7,8,9,...,8831,8832,8833,8834,8835,8836,8837,8838,8839,8840
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [104]:
bow_matrix.shape

(5572, 8841)

In [105]:
ngram_vec = CountVectorizer(ngram_range=(1,3))
ng_matrix = ngram_vec.fit_transform(df['cleaned_text'])

In [106]:
print("spars matrix is...\n" , ng_matrix)

spars matrix is...
   (0, 24803)	1
  (0, 32958)	1
  (0, 48294)	1
  (0, 14695)	1
  (0, 6501)	1
  (0, 9566)	1
  (0, 26588)	1
  (0, 69736)	1
  (0, 34171)	1
  (0, 9558)	1
  (0, 12414)	1
  (0, 26064)	1
  (0, 4920)	1
  (0, 67202)	1
  (0, 25025)	1
  (0, 32959)	1
  (0, 48309)	1
  (0, 14698)	1
  (0, 6504)	1
  (0, 9570)	1
  (0, 26722)	1
  (0, 69759)	1
  (0, 34172)	1
  (0, 9559)	1
  (0, 12425)	1
  :	:
  (5570, 3579)	1
  (5570, 35742)	1
  (5570, 30486)	1
  (5570, 31954)	1
  (5570, 9859)	1
  (5570, 19152)	1
  (5570, 67795)	1
  (5570, 23598)	1
  (5570, 27057)	1
  (5570, 8420)	1
  (5570, 3580)	1
  (5570, 35743)	1
  (5570, 30487)	1
  (5570, 31955)	1
  (5570, 9860)	1
  (5570, 56354)	1
  (5570, 19153)	1
  (5570, 43236)	1
  (5570, 67796)	1
  (5571, 42231)	1
  (5571, 63797)	1
  (5571, 51877)	1
  (5571, 51880)	1
  (5571, 63821)	1
  (5571, 51881)	1

In [107]:
feat_ngram = pd.DataFrame(ng_matrix.toarray())
feat_ngram.head()

,0,1,2,3,4,5,6,7,8,9,...,71869,71870,71871,71872,71873,71874,71875,71876,71877,71878
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df['cleaned_text'])

In [109]:
print("sparse matrix...\n" , tfidf_matrix)

sparse matrix...
   (0, 8358)	0.19903329746163903
  (0, 1153)	0.34907560185633246
  (0, 3640)	0.16214794848884176
  (0, 2123)	0.2949004790583351
  (0, 1811)	0.33323039420193634
  (0, 4580)	0.2949004790583351
  (0, 8577)	0.23722339460099312
  (0, 3677)	0.19429062554759827
  (0, 1813)	0.2949004790583351
  (0, 1377)	0.26544376257683694
  (0, 2387)	0.27033502436761486
  (0, 6036)	0.23835620117783826
  (0, 4431)	0.34907560185633246
  (0, 3588)	0.15513214741241693
  (1, 5663)	0.5462557824449175
  (1, 8482)	0.4313385731102942
  (1, 4401)	0.5233273701797004
  (1, 4616)	0.4080505634471753
  (1, 5632)	0.2741803362458879
  (2, 71)	0.23315708783038774
  (2, 1237)	0.16843248397857818
  (2, 6354)	0.23315708783038774
  (2, 8023)	0.12529349927345543
  (2, 6303)	0.23315708783038774
  (2, 6408)	0.16598220574347922
  :	:
  (5567, 5882)	0.22058112293314816
  (5568, 3033)	0.6457639024659789
  (5568, 3381)	0.5628210076825846
  (5568, 3604)	0.3636095248537397
  (5568, 3958)	0.3660732290385455
  (5569, 7122)	0.5268366486379191
  (5569, 5965)	0.5268366486379191
  (5569, 7465)	0.5029225278766244
  (5569, 5229)	0.4381269476511542
  (5570, 1611)	0.38302756983887454
  (5570, 981)	0.36564121757254364
  (5570, 4231)	0.32358323880946116
  (5570, 3734)	0.23577812710920654
  (5570, 1845)	0.31853269979150595
  (5570, 3505)	0.30992793619763376
  (5570, 2952)	0.2747242730546016
  (5570, 7146)	0.23181715722131188
  (5570, 5422)	0.2364753785822861
  (5570, 4715)	0.17956478151542768
  (5570, 4100)	0.2628194184165961
  (5570, 8403)	0.20675321306757938
  (5570, 3394)	0.18050723749252626
  (5571, 6613)	0.6901221305604214
  (5571, 7974)	0.5366272304828582
  (5571, 5339)	0.48555397271059575

In [110]:
feat_tfidf = pd.DataFrame(tfidf_matrix.toarray())
feat_tfidf.head()

,0,1,2,3,4,5,6,7,8,9,...,8831,8832,8833,8834,8835,8836,8837,8838,8839,8840
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [111]:
feat_tfidf.columns = tfidf.get_feature_names()
feat_tfidf.head()

C:\Users\Abdelrahman\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,008704050406,0089my,0121,01223585236,01223585334,0125698789,02,020603,0207,02070836089,...,ìï,ìïll,ûthanks,ûªm,ûªt,ûªve,ûï,ûïharry,ûò,ûówell
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [112]:
df.head()

,label,body_text,cleaned_text
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah dont think go usf life around though

In [113]:
matrix_tfidf = feat_tfidf.copy()
matrix_tfidf

,008704050406,0089my,0121,01223585236,01223585334,0125698789,02,020603,0207,02070836089,...,ìï,ìïll,ûthanks,ûªm,ûªt,ûªve,ûï,ûïharry,ûò,ûówell
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [114]:
x = matrix_tfidf
y = df['label']

In [115]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(x)

In [116]:
from sklearn.model_selection import *

In [117]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.33,random_state=42)

In [118]:
from sklearn.linear_model import LogisticRegression

In [119]:
logi_model = LogisticRegression()
logi_model.fit(x_train,y_train)

LogisticRegression()

In [120]:
y_pred = logi_model.predict(x_test)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [121]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[1587,    0],
       [  83,  169]], dtype=int64)

In [124]:
from sklearn.ensemble import GradientBoostingClassifier
gred_model = GradientBoostingClassifier(n_estimators=30)
gred_model.fit(x_train,y_train)
y_pred = gred_model.predict(x_test)

In [125]:
confusion_matrix(y_test,y_pred)

array([[1578,    9],
       [  81,  171]], dtype=int64)