In [3]:
import pandas as pd
import numpy as np
import nltk
import re
from sklearn.datasets import load_files

In [4]:
path = "J:/Data science/data/NLP/movie/movie_reviews"

In [5]:
data = load_files(path,encoding="utf-8" , decode_error="replace", random_state=1000)

In [6]:
df = pd.DataFrame(list(zip(data['data'], data['target'])), columns=['text', 'label'])

In [7]:
df.head()

                                                text  label
0  edward burns tackles his third picture with no...      0
1  when i initially set out to review this film ,...      1
2  the bond series is an island in the film world...      1
3  for this review and more , visit clear illusio...      1
4  quentin tarantino seems to have a knack for gi...      1

In [8]:
import string
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [14]:
stop_words = stopwords.words("english")

In [15]:
lemma_nltk = WordNetLemmatizer()

In [16]:
# def clean_text(text):
#     text = "".join([word.lower() for word in text if word not in string.punctuation])
#     text = word_tokenize(text)
#     text = " ".join([lemma_nltk.lemmatize(word) for word in text if word not in stop_word])
#     return text

In [17]:
def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = word_tokenize(text)
    text = " ".join([lemma_nltk.lemmatize(word) for word in tokens if word not in stop_words])
    return text

In [18]:
# df1 = pd.DataFrame(x)
# df1.head()

In [19]:
# df2 = pd.DataFrame(y)
# df2.head()

In [20]:
# df = pd.concat([df1,df2] ,axis=1)
# df.head()

In [21]:
# df1.shape , df2.shape

In [22]:
# df.columns = ['body_text' , 'label']
# df.head()

In [23]:
df['cleaned_text'] = df['text'].apply(lambda x:clean_text(x))

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
x = tfidf.fit_transform(df['cleaned_text'])

In [26]:
x_data = pd.DataFrame(x.toarray())
x_data

,0,1,2,3,4,5,6,7,8,9,...,42198,42199,42200,42201,42202,42203,42204,42205,42206,42207
0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.018384,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,0.0,0.000000,0.0,0.0,0.0,0.061967,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0